<!-- TODO: Temporary added, remove after creatig list/all in every other page -->
<div class="k-d-flex k-align-items-center">
    <i class="pi pi-home icon"></i>
    <h2 class="title">Sites</h2>
    <div style="margin-left:auto; padding-bottom: 15px;">
        <p-button size="large" (click)="onCreate()" severity="success">Create
            Site</p-button>
    </div>
</div>
<p-table [value]="sites" 
         styleClass="p-datatable-gridlines p-datatable-striped" 
         [tableStyle]="{ 'min-width': '50rem' }"
         selectionMode="single">
    <ng-template pTemplate="header">
        <tr>
            <th>Site Name</th>
            <th>Date Created</th>
            <th>Date Modified</th>
            <th  style="width: 12.5rem;">Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-site>
        <tr [pSelectableRow]="site">
            <td>{{ site.displayName }}</td>
            <td>{{ site.dateCreated | date:'dd MMMM YYYY' }}</td>
            <td>{{ site.dateModified | date:'dd MMMM YYYY' }}</td>
            <td>
                <p-button label="Edit"  size="small" (click)="onEdit(site)"></p-button>
                <p-button label="Delete" size="small" (click)="onDelete(site)" severity="danger" class="delete-button"></p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="4" class="no-data-text">No sites available</td>
        </tr>
    </ng-template>
</p-table>