<div class="card menubar-container" style="width: auto;">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <img src="assets/images/logo_transparent.png" alt="Access Control Logo" class="logo">
        </ng-template>
        <ng-template pTemplate="end">
            <div class="flex align-items-center gap-2" style="cursor: pointer;">
                <p-avatar icon="pi pi-user" 
                          styleClass="mr-2" 
                          size="large" 
                          shape="circle" 
                          [style]="{ 'background-color': '#a494fc', color: '#2a1261' }"
                          (click)="showSidebar()"/>
            </div>
        </ng-template>
    </p-menubar>
</div>

<p-sidebar [(visible)]="sidebarVisible" position="right" [baseZIndex]="10000" class="user-sidebar">
    <div class="sidebar-content">
        <!-- User Info Section -->
        <div class="user-info">
            <p-avatar label="{{userInitials}}" shape="circle" size="large" styleClass="user-avatar"></p-avatar>
            <div class="user-details">
                <h3 class="user-name">{{ username }}</h3>
                <p class="user-email">{{ userEmail }}</p>
            </div>
        </div>

        <!-- Logout Button at the Bottom -->
        <div class="logout-section">
            <button pButton label="Logout" icon="pi pi-power-off" class="p-button-danger p-button-rounded" (click)="logOut()"></button>
        </div>
    </div>
</p-sidebar>