/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body.main-content {
    background-color: #56a6f7;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body.main-content .title {
    font-size: 28px;
    margin: 0;
}

/* Login And Register form*/
.login-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    /* Hide overflow to prevent scrollbars */
    background: url('assets/images/bg-1.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-right: 25vh;
    box-sizing: border-box;
    background-size: cover;
}

.login-card {
    width: 300px;
    padding: 2rem;
    margin-right: 5rem;
}

.register-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    background: url('assets/images/bg-1.jpg') no-repeat center center fixed;
    padding-right: 25vh;
    box-sizing: border-box;
    background-size: cover;
}

.register-card {
    width: 350px;
    padding: 2rem;
}

/* Grid/Table styles */
.no-data-text {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    color: #777;
}

/* dialog form styles */

.form-row {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Align items vertically */
    /* Ensure items are spaced evenly */
}

.form-group {
    display: flex;
    align-items: center;
}

.form-group label {
    margin-right: 1rem;
    font-size: medium;
}

.form-group input {
    /* Push the input to the far right */
    width: 350px;
    /* Set width for the input */
    margin-left: 106px;
}

.form-control {
    font-weight: normal;
    font-size: medium;
}

/* dialog styles */

.p-dialog-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    width: 100%;
    border-top: 1px solid #ccc;
}

.p-dialog .p-dialog-header {
    background-color: rgb(0, 0, 0);
    color: white
}

.icon {
    float: left;
    padding: 5px;
    color: white;
    font-size: 1.5rem;
}