<kendo-appbar themeColor="dark" position="top">
  <kendo-appbar-section>

  </kendo-appbar-section>

  <kendo-appbar-section>
    <h1 class="title"><a routerLink="">AccessControl.UI</a></h1>
  </kendo-appbar-section>

  <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

  <kendo-appbar-section>
    <ul class="navbar">
      <li><a routerLink="sites">Sites</a></li>
      <li><a routerLink="locks">Locks</a></li>
      <li><a routerLink="cardholders">Cardholders</a></li>
      <li><a routerLink="schedules">Schedules</a></li>
    </ul>
  </kendo-appbar-section>

  <kendo-appbar-spacer></kendo-appbar-spacer>
</kendo-appbar>
<router-outlet></router-outlet>
<div kendoDialogContainer></div>
