<div class="surface-border">
    <form [formGroup]="formGroup">
        <p style="display:flex; ">Last Modified:  <strong style="color: green;">{{cardholder.dateModified | date:'dd MMMM YYYY HH:MM'}}</strong></p>
        <div class="form-group">
            <div class="form-row">
                <label for="firstName">First Name</label>
                <input id="firstName" type="text" pInputText formControlName="firstName" class="form-control"
                    placeholder="First Name">
            </div>
            <div class="form-row">       
                <label for="lastName">Last Name</label>
                <input id="lastName" type="text" pInputText formControlName="lastName" class="form-control"
                    placeholder="Last Name">
            </div>
            <div class="form-row">
                <label for="cardNumber">Card Number</label>
                <input id="cardNumber" type="text" pInputText formControlName="cardNumber" class="form-control"
                    placeholder="Card Number" pTooltip="Card Number cannot be modified!">
            </div>
        </div>
    </form>
</div>
<div class="p-dialog-footer">
    <button pButton type="button" (click)="closeEditDialog()" label="Back" class="p-button-secondary"></button>
    <button pButton type="button" (click)="editCardholder()" label="Update" class="p-button-primary" [loading]="(spinner.visible$ | async) ?? false"></button>
</div>