.labelFirst {
    font-size: large;
    font-weight: bold;
}

ul {
    list-style-type: disc !important;
}

li::marker {
    color: red !important;
}

.p-list {
    padding-left: 20px;
}

.p-list .actions {
    display: inline-flex;
    gap: 0.5rem;
    margin-left: 1rem;
}

.p-list li {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    cursor: pointer;
}

.p-list li.selected {
    background-color: #f5f5f5;
}

.assign-new-user {
    margin: 15px;
}