<div class="surface-border">
    <form [formGroup]="formGroup">
        <div class="form-row">
            <div class="form-group">
                <label for="lockName">Lock Name</label>
                <input id="lockName" type="text" pInputText formControlName="displayName" class="form-control"
                    placeholder="Lock Name">
            </div>
        </div>
    </form>
</div>
<div class="p-dialog-footer">
    <button pButton type="button" (click)="closeCreateDialog()" label="Back" class="p-button-secondary"></button>
    <button pButton type="button" (click)="createLock()" label="Create" class="p-button-primary"></button>
</div>