<kendo-dialog title="Create Lock" (close)="closeCreateDialog()" class="kendo-dialog">
    <form [formGroup]="formGroup">
        <div class="form-row">
            <div class="form-group col-5">
                <label>Lock Name</label>
                <kendo-textbox placeholder="Lock Name" formControlName="displayName"  class="form-control custom-fill-mode" >
                </kendo-textbox>
            </div>
        </div>
        <br>
        <kendo-dialog-actions>
            <button kendoButton (click)="closeCreateDialog()">Back</button>
                            <button kendoButton (click)="createLock()" themeColor="primary">Create</button>
        </kendo-dialog-actions>
    </form> 
</kendo-dialog>
