/* label {
    font-size: medium;
    text-align: right;
    clear: both;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
} */

.form-control {
    font-weight: normal;
    font-size: medium;
}

::ng-deep .surface-border .p-dropdown{
    right: 5px;  
    width: 350px;
  }