<kendo-dialog title="Edit Site" (close)="closeCreateDialog()">
    <p style="display:flex; ">Last Modified:  <strong style="color: green;">{{site.dateModified | date:'dd MMMM YYYY HH:MM'}}</strong></p>
    <form>
        <div class="form-row">
            <div class="form-group col-5">
                <label>Site Name</label>
                <kendo-textbox class="custom-fill-mode" [(value)]="nameValue">
                </kendo-textbox>
            </div>
        </div>
        <br>
        <kendo-dialog-actions>
            <button kendoButton (click)=" closeCreateDialog()">Back</button>
                            <button kendoButton (click)="editSite()" themeColor="primary">Update</button>
        </kendo-dialog-actions>
    </form> 
</kendo-dialog>
