.form-group {
    display: flex !important;
    flex-direction: column !important;
    gap: 1rem !important;
}

.form-row {
    display: flex !important;
    align-items: center !important;
    gap: 1rem !important;
}

label {
    width: 90px; /* Adjust width as necessary */
}

input{
    flex: 1;
}

.label-days{
    right: 21px;
    margin-right: 80px;
    position: relative;
}

::ng-deep .p-multiselect{
  left: 20px;  
  width: 350px;
}

.multiselect-days{
    left: 60px;
}

p{
    font-size:x-small;
}

