.form-group {
    display: flex !important;
    flex-direction: column !important;
    gap: 1rem !important;
}

.form-row {
    display: flex !important;
    align-items: center !important;
    gap: 1rem !important;
}

.form-row .site {
    position: relative;
    right: 50px;
}

.form-row .type {
    position: relative;
    right: 52px;
}

label {
    width: 90px;
    /* Adjust width as necessary */
}

input {
    flex: 1;
}

.label-days {
    right: 21px;
    margin-right: 80px;
    position: relative;
}

::ng-deep .p-multiselect {
    left: 20px;
    width: 350px;
}

.multiselect-days {
    position: relative;
    right: 20px;
}

::ng-deep .surface-border .p-dropdown {
    left: 52px;
    width: 350px;
}

::ng-deep .surface-border .p-togglebutton {
    left: 52px;
    width: 350px;
}