<div class="surface-border">
    <form [formGroup]="formGroup">
        <div class="form-group">
            <div class="form-row">
                <label for="displayName">Schedule Name</label>
                <input id="displayName" type="text" pInputText formControlName="displayName" class="form-control"
                    placeholder="Schedule Name">
            </div>
            <div class="form-row">
                <label class="label-days" for="days">Week Days</label>
                <p-multiSelect [options]="daysInWeek" 
                               formControlName="days" 
                               optionLabel="name" 
                               placeholder="Select Days"
                               appendTo="body"
                               class="multiselect-days" >
                </p-multiSelect>
            </div>
            <div class="form-row">
                <label for="startTime">Start Time</label>
                <p-calendar formControlName="startTime" 
                            [showTime]="true" 
                            [iconDisplay]="'input'" 
                            [showIcon]="true"
                            appendTo="body"   />
            </div>
            <div class="form-row">
                <label for="endTime">End Time</label>
                <p-calendar formControlName="endTime" 
                            [showTime]="true" 
                            [iconDisplay]="'input'" 
                            [showIcon]="true"
                            appendTo="body"   />
            </div>
        </div>
    </form>
</div>
<div class="p-dialog-footer">
    <button pButton type="button" (click)="closeCreateDialog()" label="Back" class="p-button-secondary"></button>
    <button pButton type="button" (click)="createSchedule()" label="Create" class="p-button-primary"></button>
</div>