<form [formGroup]="formGroup">
    <p style="display:flex; ">Last Modified:  <strong style="color: green;">{{lock.dateModified | date:'dd MMMM YYYY HH:MM'}}</strong></p>
    <div class="form-row">
        <div class="form-group">
            <label for="lockName">Lock Name</label>
            <input id="lockName" type="text" pInputText formControlName="displayName" class="form-control"
                placeholder="Lock Name">
        </div>
    </div>
</form>
<div class="p-dialog-footer">
    <button pButton type="button" (click)="closeEditDialog()" label="Back" class="p-button-secondary"></button>
    <button pButton type="button" (click)="editLock()" label="Update" class="p-button-primary"></button>
</div>