<div class="surface-border">
    <form [formGroup]="formGroup">
        <div class="form-row">
            <div class="form-group">
                <label for="siteName">Site Name</label>
                <input id="siteName" type="text" pInputText formControlName="displayName" class="form-control"
                    placeholder="Site Name">
            </div>
        </div>
    </form>
</div>
<div class="p-dialog-footer">
    <button pButton type="button" (click)="closeCreateDialog()" label="Back" class="p-button-secondary"></button>
    <button pButton type="button" (click)="createSite()" label="Create" class="p-button-primary"></button>
</div>