<kendo-dialog title="Create Site" (close)="closeCreateDialog()" class="kendo-dialog">
    <form [formGroup]="formGroup">
        <div class="form-row">
            <div class="form-group col-5">
                <label>Site Name</label>
                <kendo-textbox [style.width.px]="250" [style.height.px]="40" placeholder="Site Name" formControlName="displayName"  class="form-control custom-fill-mode" >
                </kendo-textbox>
            </div>
        </div>
        <br>
        <kendo-dialog-actions>
            <button kendoButton (click)=" closeCreateDialog()">Back</button>
                            <button kendoButton (click)="createSite()" themeColor="primary">Create</button>
        </kendo-dialog-actions>
    </form> 
</kendo-dialog>